<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<dropzone
  [config]="dropzoneConfig"
  [message]="'Drag structured folder of your captures over here to load them in MoonManager'"
  (error)="onImageUploadError($event)"
  (success)="onImageUploadSuccess($event)"
  (thumbnail)="onImageThumbnail($event)"
></dropzone>
<mat-progress-bar mode="determinate" [value]="filesLoadPercent"></mat-progress-bar>
<!-- TODO : need stop btn to be able to stop huge loads -->
<!-- TODO : need progress barre to know when loading has end -->

<!--
  div class="drop-details" #dropDetails>
  </div
-->
