// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com

::ng-deep .dropzone .dz-preview {
  display: none !important;
}

.files-count {
  float: right;
}

// https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop
// https://css-tricks.com/almanac/properties/c/cursor/
::ng-deep dropzone > .dropzone.dz-wrapper {
  cursor: copy;

  .dz-message {
    overflow: hidden !important;
    min-height: 94px !important;

    cursor: copy;
    // cursor: move; /* fallback if grab cursor is unsupported */
    // cursor: grab;
    // cursor: -moz-grab;
    // cursor: -webkit-grab;
    // &:active {
    //   cursor: grabbing;
    //   cursor: -moz-grabbing;
    //   cursor: -webkit-grabbing;
    // }
    .dz-text {
      cursor: copy;
    }
  }
}
