<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<footer>
  <div class="container-fluid">
    <div class="media-container-row align-center">
      <div class="row copyright">
        <a href="{{ trans.copyright.url | translate }}"> {{ trans.copyright.text | translate }} </a>
        <!--
          a id="cgu_link_btn"
          href="#cgu_modal"
          data-toggle="modal"
          data-target="#cgu_modal"
          class="d-print-none">
              {{ 'cgu.linkLabel'| translate|raw }}
          </a
        -->
      </div>
    </div>
  </div>
</footer>
