<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<p><strong class="indicator-c-green">En vert </strong> les jours inférieur ou égual à 1 heure</p>
<p><strong class="indicator-c-blue">En bleu </strong> les jours inférieur ou égual à 5 heures</p>
<p><strong class="indicator-c-yellow">En jaune </strong> les jours entre 5 et 7 heures</p>
<p><strong class="indicator-c-red">En rouge </strong> les jours de plus de 7 heures</p>

<div class="bs">
  <div class="timeline-yearly-plan row">
    <div class="col col-md-4 col-pr-4" *ngFor="let idx of sortedMonthsKeys">
      <div class="month-plan" *ngLet="sortedMonths.get(idx) as value">
        <!-- TODO : add billableDaySum ? => depends of TJM applied => all 5hr/day for now -->
        <strong>{{ value }} => {{ workloadByMonth.get(value) / 5 | number: '1.2-2' }} jours </strong>
        <mwl-calendar-month-view
          [viewDate]="idx"
          [events]="eventsByMonths.get(value)"
          [activeDayIsOpen]="false"
          [weekStartsOn]="1"
          [weekendDays]="[0, 1, 6]"
          (beforeViewRender)="beforeMonthViewRender($event)"
        >
        </mwl-calendar-month-view>
      </div>
    </div>
  </div>
</div>

<!--
  mat-grid-list class="timeline-yearly-plan" cols="3">
    <mat-grid-tile class="" *ngFor="let idx of sortedMonthsKeys">
      <mat-card>
        <ng-container *ngLet="sortedMonths.get(idx) as value">
          <strong>{{ value }} => {{ workloadByMonth.get(value) / 5 | number: '1.2-2' }} jours </strong>
          <mwl-calendar-month-view
            [viewDate]="idx"
            [events]="eventsByMonths.get(value)"
            [activeDayIsOpen]="false"
            [weekStartsOn]="1"
            [weekendDays]="[0, 1, 6]"
            (beforeViewRender)="beforeMonthViewRender($event)"
          >
          </mwl-calendar-month-view>
        </ng-container>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list
-->
