<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<header class="bs">
  <div class="container-fluid">
    <a routerLink="/" class="logo">
      <!--
        TODO : use a preprocessing script for assets version ? need to globaly
        force app refresh over assets when thoses changes on server, not letting en user with obsolet version
        until client side brower chose to update => will avoid strang bug that are no bug, but cache refresh issues
      -->
      <img class="primary-brand" src="assets/logos/MoonManager-64.png?v=2" alt="{{'MoonManager logo'|translate}}" />
      <span class="m-md-2">{{ appTitle }}</span>
    </a>
    <span class="fill-space"></span>
    <nav>
      <ul>
        <!-- li><a routerLink="/moon-manager/parameters">moon-manager.nav.parameters</a></li -->

        <li>
          <button mat-button color="primary" matTooltip="{{'Paramètres'|translate}}" (click)="goToParameters($event)">
            <i class="fas fa-cogs"></i>
          </button>
        </li>
        <!--
          li><a routerLink="/">Index</a></li>
          <li><a routerLink="/contact">Contact</a></li
        -->
      </ul>
    </nav>
  </div>
</header>
