<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<header class="bs">
  <div class="container-fluid">
    <a routerLink="/" class="logo">
      <img class="primary-brand" src="assets/logos/MoonManager-64.png" alt="MoonManager logo" />
      <span class="m-md-2">{{ appTitle }}</span>
    </a>
    <span class="fill-space"></span>
    <nav>
      <ul>
        <!-- li><a routerLink="/moon-manager/parameters">moon-manager.nav.parameters</a></li -->

        <li>
          <button mat-button color="primary" matTooltip="Paramètres" (click)="goToParameters($event)">
            <i class="fas fa-cogs"></i>
          </button>
        </li>
        <!--
          li><a routerLink="/">Index</a></li>
          <li><a routerLink="/contact">Contact</a></li
        -->
      </ul>
    </nav>
  </div>
</header>
