<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<button mat-button color="primary" matTooltip="Reset parameters to factory" (click)="resetConfigAction($event)">
  Reset
</button>
<p-panel class="story" header="Légende des indicateurs temporels :">
  <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="94%">
      <img
        class=""
        src="assets/TimingsIndicatorStory.png"
        alt="Vert : j <= 1hr, Bleu : 1hr < j <= 5hr, Jaune : 5hr < j < 7hr, Rouge : j >= 7hr"
      />
    </div>
  </div>
</p-panel>

<mat-card>
  <mat-card-content>
    <form #paramsForm="ngForm">
      <!--
        div><label>Firstname:</label> <input type="text" name="firstName" ngModel /></div>
        <div><label>Lastname:</label> <input type="text" name="lastName" ngModel /></div
      -->
      <ng-container *ngFor="let c of (config | keyvalue)">
        <h1>{{ c.value.paramTitle | default: c.key }}</h1>
        <fieldset [ngModelGroup]="c.key">
          <ng-container *ngFor="let p of (c.value | keyvalue)">
            <mat-form-field *ngIf="!(p.value | hasType: 'boolean')">
              <input
                matNativeControl
                [type]="(p.value | hasType: 'number') ? 'number' : 'text'"
                [placeholder]="p.key"
                [name]="p.key"
                [(ngModel)]="p.value"
              />
            </mat-form-field>
            <mat-checkbox
              class=""
              *ngIf="(p.value | hasType: 'boolean')"
              [name]="p.key"
              [(ngModel)]="p.value"
              labelPosition="before"
              [disabled]="false"
            >
              {{ p.key }}
            </mat-checkbox>
          </ng-container>
        </fieldset>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>

<button mat-button color="primary" matTooltip="Save params" (click)="saveAction($event)">
  <i class="fas fa-save"></i> Save
</button>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Debug </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>

  <pre>{{ paramsForm.value | json }}</pre>
</mat-expansion-panel>
