// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com
.story {
  text-align: center;

  // TODO : why need ng-deep for it to work ? bad html structure ?
  ::ng-deep img {
    // TODO : dig in https://github.com/angular/flex-layout/wiki/fxLayoutAlign-API
    // need a way to do it with class/directives only...
    max-width: 100%;
  }
}

// TODO : should be moved to them scss file since form LAYOUT config : need js edit ?
:host ::ng-deep {
  .mat-standard-chip {
    height: auto;
  }
  .mat-card {
    margin: 15px 0px;
  }
  .param-title {
    font-size: 14pt;
    // padding: 10px; // not working...
    line-height: 30pt; // working :P
    font-weight: bold;
  }
  // TODO : have harmonized grid framework...
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
}
