<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<button mat-button color="primary" matTooltip="Reset parameters to factory" (click)="resetConfigAction($event)">
  <i class="fas fa-power-off"></i> Reset
</button>
<!-- < p-panel class="story" header="Légende des indicateurs temporels :"> -->
<mat-card class="story">
  <mat-card-content>
    <h1 class="param-title text-left">Légende des indicateurs temporels :</h1>
    <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="94%" class="text-center">
        <img
          class=""
          src="assets/TimingsIndicatorStory.png"
          alt="Vert : j <= 1hr, Bleu : 1hr < j <= 5hr, Jaune : 5hr < j < 7hr, Rouge : j >= 7hr"
        />
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup" #paramsForm="ngForm">
      <dynamic-material-form [group]="formGroup" [model]="formModel" [layout]="formLayout"> </dynamic-material-form>
    </form>
  </mat-card-content>
</mat-card>

<button mat-button color="primary" matTooltip="Save params" (click)="saveAction($event)">
  <i class="fas fa-save"></i> Save
</button>

<!--
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Debug </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>

    <pre>{{ paramsForm.value | json }}</pre>
  </mat-expansion-panel>
-->

<mat-card>
  <a href="https://github.com/Monwoo/MoonManager"> Project under M.I.T. Licence. Build by Monwoo. </a>
</mat-card>
