// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com
@import "src/theme/theme-variables";

.story {
  text-align: center;

  // TODO : why need ng-deep for it to work ? bad html structure ?
  ::ng-deep img {
    // TODO : dig in https://github.com/angular/flex-layout/wiki/fxLayoutAlign-API
    // need a way to do it with class/directives only...
    max-width: 100%;
  }
}

// TODO : should be moved to them scss file since form LAYOUT config : need js edit ?
:host ::ng-deep {
  .mat-standard-chip {
    height: auto;
  }
  .mat-card {
    margin: 15px 0px;
  }

  .mat-form-field,
  .checkbox-form-field,
  dynamic-material-form-control {
    //min-height: 94px;
    padding-bottom: 21px;
  }
  // .mat-form-field-subscript-wrapper {
  //   padding-bottom: 20px;
  //   position: relative;
  // }

  .param-title {
    font-size: 14pt;
    // padding: 10px; // not working...
    line-height: 30pt; // working :P
    font-weight: bold;
  }
  // TODO : have harmonized grid framework...
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
}

// Drop zones design :
::ng-deep .dropzone .dz-preview {
  display: none !important;
}

.files-count {
  float: right;
}

// https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop
// https://css-tricks.com/almanac/properties/c/cursor/
::ng-deep dropzone > .dropzone.dz-wrapper {
  cursor: copy;

  .dz-message {
    overflow: hidden !important;
    min-height: 94px !important;

    cursor: copy;
    // cursor: move; /* fallback if grab cursor is unsupported */
    // cursor: grab;
    // cursor: -moz-grab;
    // cursor: -webkit-grab;
    // &:active {
    //   cursor: grabbing;
    //   cursor: -moz-grabbing;
    //   cursor: -webkit-grabbing;
    // }
    .dz-text {
      cursor: copy;
    }
  }
}

.git-exp-cmd {
  &:hover {
    color: $indicatorGreen;
    animation: bounce 1s; /*infinite;*/
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

  pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    font-size: 14px;
    color: inherit;
  }
}

::ng-deep {
  .mat-card-avatar {
    height: auto;
    width: auto;
  }

  .config-forms {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-label-wrapper {
      font-size: 14pt;
    }

    .mat-form-field-infix {
      margin: 10px 0;
    }
  }
}

@keyframes bounce {
  // 0%, 30% {
  // 	-webkit-transform: scale(1.02);
  // 	-ms-transform:     scale(1.02);
  // 	transform:         scale(1.02);
  // }
  50%,
  100% {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  // 40%, 100%, 20%, 50%, 80% {
  // 10%, 20% {
  // 	-webkit-transform: translateY(-10px);
  // 	-ms-transform:     translateY(-10px);
  // 	transform:         translateY(-10px)
  // }
  // 0%, 30% {
  // 	-webkit-transform: translateY(-7px);
  // 	-ms-transform:     translateY(-7px);
  // 	transform:         translateY(-7px)
  // }
  // 40%, 100% {
  //   -webkit-transform: translateY(0);
  // 	-ms-transform:     translateY(0);
  // 	transform:         translateY(0)
  // }
}
